<div id="about">
 <div id="container-about">
  <div id="intro-about">
    <h1>与那嶺あきお</h1>
    <p>1996年11月11日生まれ　蠍座の男<br>彼は新橋のとある企業で働く23才の夢見る青年だ。
    <br>最近の趣味は筋トレ、サウナ,pythonでデーターを収集、解析する事だ<br>
  最近の悩みは普通の遊びにたいてあまり満足感を得られない事だ。
<br>ところで、最初、このwebサイトは単に、日記を手書きでつけるのめんどくさいからとゆう理由で作成した。
<br>だが一般向けの日記投稿サイトに変更した。
<br>あまりレイアアウト的なクオリティーは期待しないでくれ。</p>

  </div>
  <div id="under-image-about">
    <%= image_tag "Akio.jpg" %>
 </div>

</div>
