<%  provide(:title, "Home" )%>
 <div id="home">
    <div class="content-home">
      <div class="content-title-home">
       <h1>My Daily Life Memory</h1>
      </div>
      <div class="content-description-home">
        <p> This web site was created for writing about kind of something stuff happing in my dailry life<br>
          I am going to keep on writing as much as possible!
        </p>
    </div>
  </div>
</div>
