// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//home
#home {



    width:100%;

    height: 100%;

    margin: 0px;



    background-image: url("railway.jpg");

     /* 画像を常に天地左右の中央に配置 */
    background-position: center center;

    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;

    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;

    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;

    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;

    font-family: 'Permanent Marker', cursive;

    text-align: center;
  }






.content-home {
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns:  0.4fr 1fr 1fr 1fr 1fr 0.4fr;
  grid-template-rows: 0.5fr 1fr 50px 1fr 1fr;


}

.content-title-home {


  grid-row: 2 / 4;
  grid-column: 2 / 6;
  align-self: end;
  color: white;

  // height: 80%;
  // width: 90%;
  font-size: 4rem;


}


 .content-description-home{
   color: white;
   grid-row: 4 / 6;
   grid-column: 2 / 6;
   align-self: start;
 }







//home finish
#about {
  margin:0px;
  width:100%;
  height:100%;
  background-image: url("chari.jpg");
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

 /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

 /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

 /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

 /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

  font-family: 'Permanent Marker', cursive;
}

#container-about {

  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns:  0.4fr 1fr 1fr 1fr 1fr 0.4fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
}

#intro-about {


  grid-row: 2 / end;
  grid-column: 2 / 3;
  color:white;
}

#under-image-about {

  grid-row: 2 / end;
  grid-column: 3 / end;


  height: 100%;
  width: 90%;
}


#under-image-about img{
  height: 80%;
  width: 90%;






}


.posts__searchForm {
  display: inline-block;
}


// 追加
.posts__select {
  display: inline-block;
  width: auto;
}

// スマホ用

@media screen and (max-width: 400px) {
  #intro-about {
    align-self: end;
    grid-row: 5 / end;
    grid-column: 2 / 6;
    color:white;
  }

  #under-image-about {

    align-self: center;
    grid-row: 3 / 4;
    grid-column: 2 / 6;


    height: 100%;
    width: 100%;
  }


  #under-image-about img{
    height: 100%;
    width: 100%;



  }
//スマホ用　終了



}
